<section class="about-me"  id="about-me">
    <div class="container">
        <h2 class="about-me-title" data-aos="zoom-in-up" data-aos-duration="3000">ABOUT<span class="about-me__color">ME</span></h2>
        <div class="about-me__block bio__position" >
            <picture >
                <source srcset="./images/about-desktop.png" media="(min-width: 1280px)">
                <source srcset="./images/about-tab.png" media="(min-width: 768px)">
                <source srcset="./images/about-mob.png" media="(min-width: 360px)">
                <img class="about-me__img" src="./images/about-mob.png" alt="face">
            </picture>
            <div class="about-me__block" data-aos="fade-up" data-aos-duration="3000">
            <h3 class="about-me__title">BIO</h3>
            <p class="bio__text wh">I'm Lloyd Jefferson, a talented programmer specializing in software development. My expertise spans various programming languages and technologies, and I am dedicated to continually enhancing my skills. I thrive on seeking unconventional and creative solutions to problems, leveraging a high level of analytical skills to effectively tackle even the most challenging tasks.</p>
            <p class="bio__text">Adaptable to both independent and team-oriented work, I collaborate seamlessly with colleagues, exchanging ideas and finding optimal solutions. My professional maturity enables me to navigate challenges and stressful situations with a calm demeanor, maintaining a consistently high quality of work. Committed to self-improvement, I actively engage in studying new technologies and practices to stay current with the latest innovations in the field.</p>
        <picture >
            <source srcset="./images/about-decor-desktop.png" media="(min-width: 1280px)">
            <source srcset="./images/about-decor-tab.png" media="(min-width: 768px)">
            <img class="about-me__bg" src="./images/about-decor-tab.png" alt="bg">
        </picture>
        </div>
        </div> 
        <div class="blocks__position">
        <div class="about-me__block about-me_desk" data-aos="fade-up" data-aos-duration="3000">
            <h3 class="about-me__title" >EDUCATION</h3>
            <ul class="education__list">
                <li class="education__item">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</li>
                <li class="education__item">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                <li class="education__item">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
            </ul>
        </div> 
        <div class="about-me__block about-me_desk" data-aos="fade-up" data-aos-duration="3000">
            <h3 class="about-me__title">ROLE</h3>
            <ul class="role__list">
                <li class="role__item">Frontend development</li>
                <li class="role__item">HeadlessCMS, Wordpress</li>
                <li class="role__item">Blender (enjoy)</li>
            </ul>
        </div>
        </div>
    </div>
    </section>

    <div class="skills-wrap">
    <div class="skills">
        <ul class="skills__wrapper">
            <li class="skills__item">JavaScript</li>
            <li class="skills__item">React</li>
            <li class="skills__item">React Native</li>
            <li class="skills__item">HTML/CSS</li>
            <li class="skills__item">Node.js</li>
            <li class="skills__item">JavaScript</li>
            <li class="skills__item">React</li>
            <li class="skills__item">React Native</li>
            <li class="skills__item">HTML/CSS</li>
            <li class="skills__item">Node.js</li>
        </ul>
    </div>
    <div class="skills skills__bg">
        <ul class="skill__wrapper">
            <li class="skill__item">Node.js</li>
            <li class="skill__item">HTML/CSS</li>
            <li class="skill__item">JavaScript</li>
            <li class="skill__item">React Native</li>
            <li class="skill__item">React</li>
            <li class="skill__item">Node.js</li>
            <li class="skill__item">HTML/CSS</li>
            <li class="skill__item">JavaScript</li>
            <li class="skill__item">React Native</li>
            <li class="skill__item">React</li>
        </ul>
    </div>
    </div>