<section class="benefits-section-wrap">
  <div class="container benefits-bg" >
    <h2 class="benefits-header" data-aos="zoom-in-up" data-aos-duration="3000">
      <span class="benefits-span-green">BENEFITS</span> OF WORKING WITH ME
    </h2>
    <div class="benefits-content-wrap">
      <ul class="benefits-list-wrap">
        <li class="benefits-list" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <div class="benefits-icon-wrap">
            <svg class="benefits-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-benefits-user"></use>
            </svg>
          </div>
          <p class="benefits-paragraf">EXPERTISE</p>
          <p class="benefits-text">
            With extensive experience in development, I have a deep
            understanding of programming and website development.
          </p>
        </li>
        <li class="benefits-list" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <div class="benefits-icon-wrap">
            <svg class="benefits-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-benefits-message"></use>
            </svg>
          </div>
          <p class="benefits-paragraf">COMMUNICATION</p>
          <p class="benefits-text">
            Understanding your needs and wants is my priority and I am always
            available for discussions and open to corrections.
          </p>
        </li>
        <li class="benefits-list" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <div class="benefits-icon-wrap">
            <svg class="benefits-icon" width="48" height="48">
              <use href="./images/symbol-defs.svg#icon-benefits-brush"></use>
            </svg>
          </div>
          <p class="benefits-paragraf">ART</p>
          <p class="benefits-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-list" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <div class="benefits-icon-wrap">
            <svg class="benefits-icon" width="48" height="48">
              <use
                href="./images/symbol-defs.svg#icon-benefits-hourglass"
              ></use>
            </svg>
          </div>
          <p class="benefits-paragraf">URGENT EXECUTION</p>
          <p class="benefits-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
