
<footer class="footer-container">
  <div class="footer container">
  <div class="logo-socials-block">
    <a class="logo" href="./index.html"
      >Lloyd<span class="colored-logo">Jefferson.</span></a
    >
    <ul class="socials-list">
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >Facebook</a
        >
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li class="socials-item">
        <a class="socials-link" href="https://spinkll.github.io/Project-javascript-goit/" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
  <div class="copyright-block">
    <p class="copyright-paragraph">© Copyright 2024.&nbsp;</p>
    <p class="copyright-paragraph">Made by LloydJefferson</p>
  </div>
  </div>
</footer>
