<header class="header">
  <div class="container header-container">
    <div class="logo">
      <a class="logo-link" href="./index.html">lloyd<span class="logo-second-word">Jefferson.</span></a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-menu">
        <li class="header-nav-menu-item">
          <label id="switch" class="switch">
            <input type="checkbox" id="slider" name="slider">
            <span class="slider round"></span>
          </label>
        </li>
        <li class="header-nav-menu-item">
          <a class="header-nav-menu-item-link" href="#about-me" name="About-me">About me</a>
        </li>
        <li class="header-nav-menu-item">
          <a class="header-nav-menu-item-link" href="#project" name="Projects">Projects</a>
        </li>
        <li class="header-nav-menu-item">
          <a class="header-nav-menu-item-link" href="#contacts" name="Contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu-button">
      <button type="button" class="mob-menu-btn" name="menu-open">
        <span>
        <svg class="modal_open_icon" width="32" height="32">
          <use href="./images/symbol-defs.svg#icon-mobmenu-open"></use>
        </svg>
        </span>
      </button>
    </div>
  </div>
</header>

<div class="mob-menu">
  <div class="mob-menu-header">
    <div class="mob-menu-logo">
      <a class="mob-menu-logo-link">lloyd<span class="logo-second-word">Jefferson.</span></a>
    </div>
    <div class="mobile-menu-button-close">
      <button type="button" class="mob-menu-btn-close" name="Close">
        <svg class="modal_open_icon" width="32" height="32">
          <use href="./images/symbol-defs.svg#icon-mobmenu-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <nav class="mob-menu-nav">
    <ul class="mob-menu-nav-menu">
      <li class="mob-menu-nav-menu-item">
        <a class="mob-menu-nav-menu-item-link" href="#about-me" name="About-me">About me</a>
      </li>
      <li class="mob-menu-nav-menu-item">
        <a class="mob-menu-nav-menu-item-link" href="#project" name="Projects">Projects</a>
      </li>
      <li class="mob-menu-nav-menu-item">
        <a class="mob-menu-nav-menu-item-link" href="#contacts" name="Contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <div class="switch-box">
    <label id="switch" class="switch">
      <input type="checkbox" id="mob--menu-slider" name="slider">
      <span class="slider round"></span>
    </label>
  </div>
</div>
