<section class="hero" id="hero">
  <div class="container">
    <div class="destop-hero">
      <h1 class="hero-title" data-aos="zoom-in-up" data-aos-duration="3000">
        Hello, I am
        <span class="text-decoration-accent">Fullstack developer</span>
      </h1>

      <div class="hero-image">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="./images/img1x.jpg 1x, ./images/img2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/img1x.jpg 1x, ./images/img2x.jpg 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/img1x.jpg 1x, ./images/img2x.jpg 2x"
          />
          <img src="./images/img1x.jpg" alt="Person" loading="lazy" />
        </picture>
      </div>
    </div>

    <div class="container-button-text">
      <div class="button-text hero_button_wraper">
        <button type="button" class="hero-button">
          <span class="group-icon">
            <svg class="hero-icon-button" width="28" height="18">
              <use href="./images/symbol-defs.svg#icon-hero"></use>
            </svg>
            <span class="button-text">Order the project</span>
          </span>

          <span class="page-button"></span>
        </button>
      </div>

      <p class="hero-dscr-text">
        I work with people all over the world to create
        <span class="hero-dscr-text-accent">impressive</span> and
        <span class="hero-dscr-text-accent">functional websites</span> that
        reflect each client's unique personality.
      </p>
    </div>
  </div>
  <div>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li class="hero-social-item">
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>
      <li class="hero-social-item">
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Linkedin</a
        >
      </li>
      <li class="hero-social-item">
        <a
          href="https://spinkll.github.io/Project-javascript-goit/"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
