<section class="four-section" id="project">
  <div class="container">
    <h2 class="projects-item" data-aos="zoom-in-up" data-aos-duration="3000" >
      My<span class="projects-span"> projects</span>
    </h2>
    <ul id="list-sites">
      <li class="items-info" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/first-desk2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/first-tablet2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/first-phone2x.png 2x"
          />
          <img
            src="./images/first-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Wallet webservice</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/two-desk2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/two-tablet2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/two-phone2x.png 2x"
          />
          <img
            src="./images/two-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Green harvest webservice</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/three-desk2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/three-tablet2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/three-phone2x.png 2x"
          />
          <img
            src="./images/three-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">English Exellence website</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info hidden" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/four-phone2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/four-phone2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/four-phone2x.png 2x"
          />
          <img
            src="./images/four-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Starlight studio landing page</h3>
          <div class="text-btn">
            <button class="visit-button" id="buttons-container">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info hidden" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/five-phone2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/five-phone2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/five-phone2x.png 2x"
          />
          <img
            src="./images/five-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Fruitbox online store</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info hidden" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/six-phone2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/six-phone2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/six-phone2x.png 2x"
          />
          <img
            src="./images/six-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Energy flow webservice</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info hidden" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/seven-phone2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/seven-phone2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/seven-phone2x.png 2x"
          />
          <img
            src="./images/seven-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Chego jewelry website</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info hidden" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/eight-phone2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/eight-phone2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/eight-phone2x.png 2x"
          />
          <img
            src="./images/eight-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Vyshyvanka vibes Landing Page</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info hidden" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/nine-phone2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/nine-phone2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/nine-phone2x.png 2x"
          />
          <img
            src="./images/nine-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Power pulse webservice</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="items-info hidden" data-aos="fade-zoom-in" data-aos-duration="3000">
        <picture>
          <source
            media="(min-width: 1280px )"
            srcset="./images/ten-phone2x.png 2x"
          />
          <source
            media="(min-width: 768px )"
            srcset="./images/ten-phone2x.png 2x"
          />
          <source
            media="(max-width: 767px )"
            srcset="./images/ten-phone2x.png 2x"
          />
          <img
            src="./images/ten-phone1x.png"
            alt="projects"
            width="1080"
            height="578"
          />
        </picture>
        <p class="lang-item">React, JavaScript, Node JS, Git</p>
        <div class="frame-group">
          <h3 class="text-info">Mimino website</h3>
          <div class="text-btn">
            <button class="visit-button">
              VISIT
                <svg class="icon-icon" width="14.5" height="14.5">
                  <use href="./images/symbol-defs.svg#icon-my-project"></use>
                </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>

    <button id="two-button" class="two-button">
      Load more
      <svg class="line-line hidden" width="107" height="2">
        <use href="./images/symbol-defs.svg#icon-Arrow-1-4"></use>
      </svg>
    </button>
  </div>
</section>
