<section class="reviews-section">
  <div class="container">
    <!-- Header -->
    <h2 class="reviews-head" data-aos="zoom-in-up" data-aos-duration="3000">Reviews</h2>

    <!-- Loader -->
    <div class="loader-container"><span class="loader"></span></div>

    <!-- Slider main container -->
    <div class="swiper" id="swiper-container">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper"></ul>

      <!-- Navigation buttons -->
      <div class="swiper-buttons">
        <div class="swiper-button-prev" id="btn-prev">
          <svg class="swiper-btn-icon">
            <use href="./images/symbol-defs.svg#icon-reviews-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next" id="btn-next">
          <svg class="swiper-btn-icon">
            <use href="./images/symbol-defs.svg#icon-reviews-right"></use>
          </svg>
        </div>
      </div>
    </div>

    <!-- Container for backend errors -->
    <div class="error-container"></div>

    <script type="module" src="./main.js"></script>
  </div>
</section>
