.hero {
  padding-top: 112px;
}
.hero .container {
  position: relative;
  z-index: 1;
}

.hero .container::before {
  content: '';
  position: absolute;
  top: -20%;
  left: 10%;
  width: 285px;
  height: 264px;

  background-image: image-set(
    url('../images/bg-hero-top-mobile1x.png') 1x,
    url('../images/bg-hero-top-mobile2x.png') 2x
  );
  filter: blur(3px);
  background-repeat: no-repeat;
  background-size: 352px;
  z-index: -1;
}
@media screen and (min-width: 359px) {
  .hero .container::before {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero .container::before {
    top: -10%;
    left: 50%;
    width: 356px;
    height: 276px;
    background-image: image-set(
      url('../images/bg-hero-top-tablet1x.png') 1x,
      url('../images/bg-hero-top-tablet2x.png') 2x
    );
    background-size: 356px;
  }
}

@media screen and (min-width: 1280px) {
  .hero .container::before {
    left: 70%;
    background-image: image-set(
      url('../images/bg-hero-top-des1x.png') 1x,
      url('../images/bg-hero-top-des2x.png') 2x
    );
  }
}

.hero .container::after {
  content: '';
  position: absolute;
  bottom: 39%;
  left: 45%;
  width: 170px;
  height: 131px;
  background-image: image-set(
    url('../images/bg-hero-bottom-mobile1x.png') 1x,
    url('../images/bg-hero-bottom-mobile2x.png') 2x
  );
  filter: blur(3px);
  background-repeat: no-repeat;
  background-size: 170px;
  z-index: -2;
}

@media screen and (min-width: 768px) {
  .hero .container::after {
    bottom: 20%;
    left: 25%;
    width: 356px;
    height: 264px;
    background-image: image-set(
      url('../images/bg-hero-bottom-tablet1x.png') 1x,
      url('../images/bg-hero-bottom-tablet2x.png') 2x
    );
    background-size: 356px;
  }
}

@media screen and (min-width: 1280px) {
  .hero .container::after {
    bottom: 5%;
    left: 15%;
    background-image: image-set(
      url('../images/bg-hero-bottom-des1x.png') 1x,
      url('../images/bg-hero-bottom-des2x.png') 2x
    );
  }
}

.destop-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 88px;
  }

  .destop-hero {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .destop-hero {
    margin-bottom: 80px;
  }
}

.hero-title {
  color: var(--titles-color);
  font-family: Impact;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.028em;
  text-transform: uppercase;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 704px;
    font-size: 136px;
    line-height: 1.15;
    letter-spacing: 0.013em;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 552px;
    font-size: 124px;
  }
}

.text-decoration-accent {
  color: var(--secondary-color);
}

img {
  border-radius: 32px;
}

.hero-image {
  max-width: 592px;
  height: 444px;
  flex-shrink: 0;
}

.container-button-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .container-button-text {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .container-button-text {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 96px;
  }
}

.button-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-button {
  position: relative;
  max-width: 320px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .hero-button {
    max-width: 416px;
  }
}

.group-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.button-text {
  color: var(--titles-color);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .button-text {
    font-size: 20px;
    line-height: 32px;
  }
}

.page-button {
  position: absolute;
  bottom: -32px;
  left: 155px;
  width: 165px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(0, 176, 104, 0.2);
  z-index: 10;
  transition: background 0.3s ease;
}
@media screen and (min-width: 320px) and (max-width: 359px) {
  .page-button {
    left: 115px;
  }
}

@media screen and (min-width: 768px) {
  .page-button {
    width: 261px;
    height: 96px;
  }
}

.hero-button:hover .page-button,
.hero-button:focus .page-button {
  background: rgba(0, 176, 104, 0.6);
}
.hero-dscr-text-accent {
  color: var(--secondary-color);
}

.hero-dscr-text {
  color: var(--titles-color);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .hero-dscr-text {
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-dscr-text {
    max-width: 592px;
    margin-top: 0;
  }
}

.hero-social-list {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-social-list {
    flex-direction: row;
    padding: 40px 0px;
    gap: 40px;
  }
}

.hero-social-item {
  color: var(--titles-color);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1280px) {
  .hero-image {
    display: none !important;
  }
}
